[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
hypothesis = {version = "*",extras = ["django"]}
django-dotenv = "*"
pytest-cov = "*"
pytest-django = "*"
coverage = "*"
pytest = "*"
mock = "*"
pytest-forked = "*"
sphinx = "*"
sphinx-autobuild = "*"
pytest-test-groups = "*"

[packages]
appdirs = "==1.4.3"
bleach = "==2.0.0"
dj-database-url = "==0.4.2"
django-anymail = "==1.2.1"
django-markdownify = "==0.1.0"
"enum34" = "==1.1.6"
geopy = "==1.17.0"
"html5lib" = "==0.999999999"
pyparsing = "==2.2.0"
pytz = "==2017.2"
requests = "*"
six = ">=1.10.0"
webencodings = "==0.5.1"
whitenoise = {version = "*",extras = ["brotli"]}
gunicorn = "*"
"mailchimp3" = "*"
raven = "*"
djangorestframework = "==3.6.3"
django-webpack-loader = "*"
django-rq = "==1.2.0"
django-redis-cache = "==1.8.0"
airtable-python-wrapper = "==0.11.0"
social-auth-core = "*"
social-auth-app-django = "*"
django-taggit = "*"
django-taggit-serializer = "*"
Django = "==1.11.16"
Faker = "==0.8.17"
icalendar = "*"
apiclient = "*"
"httplib2" = "*"
"oauth2client" = "*"
google-api-python-client = "*"
django-address = "*"
django-import-export = "*"
python-dateutil = "*"
tqdm = "*"
markdown = "==2.2"
django-request-id = "*"
stripe = "*"
"psycopg2-binary" = "*"
django-admin-rangefilter = "*"
redis = "==2.10.6"
rq = "==0.12.0"
slackclient = "*"
django-mptt = "*"
django-enumfields = "*"
birdisle = "*"
django-taggit-helpers = "*"

[requires]
python_version = "2.7"
