$primary-color: #d7df23;
$secondary-color: rgba(3,44,54,.9);

.the-app {
  background-color: #fff;
  display: flex;
  flex-flow: column;
  min-height: 100%;
  padding-bottom: 56px;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
}

body {
  background: #333 url(../img/bg.png) repeat;
  font-color: #fff;
  font-family: "Roboto";
  height: 100%;
  margin: 0;
}
html {
  height: 100%;
}

#container {
  height: 100%;
}

tr.even {
  background-color: #eee;
}
