$primary-color: #d7df23;
$secondary-color: rgba(3,44,54,.9);

.the-app {
  background-color: #fff;
  display: flex;
  flex-flow: column;
  max-height: 100%;
  height: inherit;
}

.viewport {
  display: flex;
  flex: auto;
  overflow-y: auto;
}

.viewport .scroll {
  display: block;
  flex: auto;
  width: 100%;
}

.bottom-nav {
  align-self: flex-end;
  flex: none;
  width: 100%;
}

body {
  display: flex;
  background-color: #fff;
  font-family: "Roboto";
  height: inherit;
  flex-flow: column;
  margin: 0;
}

html {
  height: 100%;
}

#container {
  height: inherit;
}

tr.even {
  background-color: #eee;
}
