.app-splash {
  background-color: #fff;
  margin: 2em;
  padding: 1em;
  text-align: center;
  .pop {
    font-size: 10vw;
    font-family: 'Rock Salt', cursive;
  }

  .github-link {
    font-size: 48pt;
    a {
      color: #8d2;
    }
  }
}
