{% load raven %}
<!DOCTYPE html>
<html>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie-edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Organizer</title>
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro"
  rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Rock+Salt"
  rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto"
  rel="stylesheet" />
  <script>
  var LOGIN_URLS = {
    {%for backend in backends.backends%}
      "{{backend}}": "{% url 'social:begin' backend %}?next=/",
    {% endfor %}
  };
  var LOGIN_URL = "{% url 'social:begin' 'slack' %}?next=/";
  var CURRENT_USER = {{user_data|safe}};
  var SENTRY_PUBLIC_DSN = "{% sentry_public_dsn %}"
  </script>
  <body>
    <div id="container"></div>
  </body>
</html>
